# Chicago

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 11.4 MB

In [5]:
df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [9]:
df.groupby('Department').count()['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.


### Hypothsesis

        H0 = 30$ hour
    H1 != 30$ hour

In [10]:
from scipy.stats import ttest_1samp

In [15]:
muestra = df['Hourly Rate'].dropna()

len(muestra)

8022

In [17]:
ttest_1samp(muestra, 30, alternative='two-sided').pvalue

4.3230240486229894e-92

In [18]:
muestra.mean()

32.78855771628024

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.


### Hypothsesis

        H0 >= 86k$ 
    H1 < 86k$

In [20]:
police = df[df.Department == 'POLICE']

police['Annual Salary'].mean()

86486.41450313339

In [21]:
ttest_1samp(police['Annual Salary'].dropna(), 86000, alternative='less').pvalue

0.9989698298224517

In [25]:
### crosstab

pd.crosstab(df.Department, df['Salary or Hourly']).sort_values(by='Hourly', ascending=False).head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.


### Hypothsesis

        H0 >= 35$ hour
    H1 < 35$ hour

In [29]:
muestra = df[df.Department=='STREETS & SAN']['Hourly Rate'].dropna()

muestra.mean()

33.72837808807734

In [30]:
ttest_1samp(muestra, 35, alternative='less').pvalue

1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [36]:
from scipy.stats import t, sem   # error standard

In [37]:
muestra = df[df['Salary or Hourly']=='Hourly']['Hourly Rate']

muestra.head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [46]:
t.interval(0.95, 
           len(muestra)-1, 
           loc=muestra.mean(),
           scale=sem(muestra)
          )

(32.52345834488425, 33.05365708767623)

In [45]:
muestra.mean()

32.78855771628024

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [49]:
muestra = df[(df.Department=='POLICE') & (df['Salary or Hourly']=='Salary')]['Annual Salary']

muestra.mean()

86486.41450313339

In [50]:
t.interval(0.95, 
           len(muestra)-1, 
           loc=muestra.mean(),
           scale=sem(muestra)
          )

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

### Hypothsesis

        H0 = 25%
        H1 != 25%

In [51]:
from statsmodels.stats.proportion import proportions_ztest

In [54]:
cuenta = df['Salary or Hourly'].value_counts()

cuenta

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [53]:
df.shape

(33183, 8)

In [55]:
cuenta[1]

8022

In [56]:
df.shape[0]

33183

In [58]:
proportions_ztest(count=cuenta[1], 
                  nobs=df.shape[0],
                  value=0.25)[1]

0.0004481127249057967

In [60]:
8022 / 33183 * 100

24.17502938251514

# Pokemon

In [61]:
poke = pd.read_csv('data/Pokemon.csv')

poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [63]:
from scipy.stats import ttest_rel, ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    if len(s1)!=len(s2):
        
        if len(s1)>len(s2):
            
            s1 = s1.sample(len(s2))
            
        else:
            
            s2 = s2.sample(len(s1))
            
            
    for f in features:
        
        results[f] = (ttest_rel(s1[f], s2[f]).pvalue,   # relacionados
                      ttest_ind(s1[f], s2[f]).pvalue    # independientes
                     )
        
        
        
    return results

In [64]:
muestra_1 = poke[poke.Legendary == True]

muestra_2 = poke[poke.Legendary == False]

t_test_features(muestra_1, muestra_2)

{'HP': (1.233562446537205e-05, 1.611973847476006e-06),
 'Attack': (2.2267299199508467e-10, 1.664709513056593e-11),
 'Defense': (1.0060630243662031e-05, 2.3479606783382098e-06),
 'Sp. Atk': (1.4145461976620958e-16, 1.683252729379654e-20),
 'Sp. Def': (1.1024231510679183e-12, 3.306611632389245e-14),
 'Speed': (1.8622224567716214e-11, 4.6464380105338615e-14),
 'Total': (2.6338743809908157e-25, 1.205412470523638e-31)}

In [65]:
muestra_1 = poke[poke.Generation == 1]

muestra_2 = poke[poke.Generation == 2]

t_test_features(muestra_1, muestra_2)

{'HP': (0.1023318919609116, 0.10878804259234347),
 'Attack': (0.212296858384353, 0.25050695958426483),
 'Defense': (0.47971160807897195, 0.4533627361643189),
 'Sp. Atk': (0.08335297508957588, 0.08946605264486092),
 'Sp. Def': (0.6846542966863577, 0.6917503440808961),
 'Speed': (0.0017320319379524373, 0.002432829444074889),
 'Total': (0.42762808462407453, 0.4392237105065463)}

In [69]:
poke[poke['Type 2'].isna()==False].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

In [70]:
muestra_1 = poke[poke['Type 2'].isna()==True]   # solo un tipo

muestra_2 = poke[poke['Type 2'].isna()==False]  # dos tipos

t_test_features(muestra_1, muestra_2)

{'HP': (0.0655557686505704, 0.06044689581915366),
 'Attack': (0.0003376063657898771, 0.0002677633642847403),
 'Defense': (1.8410728128005725e-08, 1.9865328571340718e-08),
 'Sp. Atk': (0.000147072184163095, 0.00016577393676222608),
 'Sp. Def': (3.843219455110115e-05, 5.9059937516962356e-05),
 'Speed': (0.02150267428466578, 0.026136669518588656),
 'Total': (6.311205657241336e-08, 7.621505008859359e-08)}

In [71]:
# ataque - defensa

ttest_rel(poke.Attack, poke.Defense).pvalue

1.7140303479358558e-05

In [72]:
# ataque - defensa especial

ttest_rel(poke['Sp. Atk'], poke['Sp. Def']).pvalue

0.3933685997548122