In [1]:
import pandas as pd

In [2]:
%ls

2.1_pandas.ipynb
2.2_cleaning_and_data_manipulation.ipynb
2.3_combining_structuring_data.ipynb
2.4_aggregating_data.ipynb*
2.5_apis.ipynb
2.6_web_scraping.ipynb
data.pkl
tablita.csv
tablita.xlsx
tiburones.csv

In [11]:
df = pd.read_csv('tiburones.csv', sep=';')

In [13]:
df.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order
0,2023-07-03,2023.0,Unprovoked,USA,New York,"Beach 3, Robert Moses State Park, Suffolk County",Swimming,female,F,15,...,N,13h45,Sand tiger shark,"S.S. Curatolo- Wagemann, GSAFF",NaN,NaN,NaN,NaN,NaN,NaN
1,2023-03-17,2023.0,Questionable,MEXICO,Quintana Roo,Cancún,Swimming,Dillon Armijo,M,10,...,N,NaN,Authorities report injury caused bya barracuda,"Denver7, 3/29/2023",NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-30,2022.0,Provoked,South Africa,KNZ,Protea Banks,Diving/Shark Feeding,Ranier Kruger,M,26,...,N,09h00,Blacktip,"A Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN
3,2022-07-16,2022.0,Unprovoked,USA,Florida,"Daytona Beach Shores, Volusia County",NaN,Tasa Summers,F,40.0,...,N,13h12,A small shark,"WESH, 717,2022",2022.07.16-Summers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.16,2022.07.16,6785.0
4,2022-07-01,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Elisabeth Sauer,F,68.0,...,Y,NaN,"Oceaniic whitetip shark/tiger shark, 2m shark","M. Michaeilson, GSAF",2022.07.01.a-Sauer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.a,2022.07.01.a,6775.0

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cleaning-Data" data-toc-modified-id="Cleaning-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cleaning Data</a></span><ul class="toc-item"><li><span><a href="#Null-values" data-toc-modified-id="Null-values-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><span><a href="#Cleaning-Null-Values" data-toc-modified-id="Cleaning-Null-Values-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Cleaning Null Values</a></span></li><li><span><a href="#Checking-for-Null-Values" data-toc-modified-id="Checking-for-Null-Values-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Checking for Null Values</a></span></li><li><span><a href="#Dropping-Null-Values" data-toc-modified-id="Dropping-Null-Values-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Dropping Null Values</a></span></li><li><span><a href="#Filling-Null-Values" data-toc-modified-id="Filling-Null-Values-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Filling Null Values</a></span></li><li><span><a href="#💡-Check-for-understanding" data-toc-modified-id="💡-Check-for-understanding-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>💡 Check for understanding</a></span></li></ul></li><li><span><a href="#Dealing-with-Duplicates" data-toc-modified-id="Dealing-with-Duplicates-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Dealing with Duplicates</a></span><ul class="toc-item"><li><span><a href="#Identifying-Duplicates" data-toc-modified-id="Identifying-Duplicates-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Identifying Duplicates</a></span></li><li><span><a href="#Removing-Duplicates" data-toc-modified-id="Removing-Duplicates-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Removing Duplicates</a></span></li><li><span><a href="#Removing-Duplicates-Based-on-Specific-Columns" data-toc-modified-id="Removing-Duplicates-Based-on-Specific-Columns-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Removing Duplicates Based on Specific Columns</a></span></li><li><span><a href="#Resetting-the-Index" data-toc-modified-id="Resetting-the-Index-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Resetting the Index</a></span></li></ul></li><li><span><a href="#Formatting-Data" data-toc-modified-id="Formatting-Data-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Formatting Data</a></span><ul class="toc-item"><li><span><a href="#Formatting-Numeric-Values" data-toc-modified-id="Formatting-Numeric-Values-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Formatting Numeric Values</a></span></li><li><span><a href="#Formatting-Strings" data-toc-modified-id="Formatting-Strings-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Formatting Strings</a></span></li><li><span><a href="#Formatting-Dates" data-toc-modified-id="Formatting-Dates-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Formatting Dates</a></span></li></ul></li><li><span><a href="#Cleaning-Column-Names" data-toc-modified-id="Cleaning-Column-Names-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Cleaning Column Names</a></span></li></ul></li><li><span><a href="#Using-apply(),-map(),-and-applymap()" data-toc-modified-id="Using-apply(),-map(),-and-applymap()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Using <code>apply()</code>, <code>map()</code>, and <code>applymap()</code></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Apply()" data-toc-modified-id="Apply()-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span><code>Apply()</code></a></span></li><li><span><a href="#Map()" data-toc-modified-id="Map()-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span><code>Map()</code></a></span></li><li><span><a href="#applyMap()" data-toc-modified-id="applyMap()-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span><code>applyMap()</code></a></span></li><li><span><a href="#More-examples" data-toc-modified-id="More-examples-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>More examples</a></span><ul class="toc-item"><li><span><a href="#Comparing-Map-and-Apply" data-toc-modified-id="Comparing-Map-and-Apply-2.0.4.1"><span class="toc-item-num">2.0.4.1&nbsp;&nbsp;</span>Comparing Map and Apply</a></span></li><li><span><a href="#Calculating-the-length-of-the-name" data-toc-modified-id="Calculating-the-length-of-the-name-2.0.4.2"><span class="toc-item-num">2.0.4.2&nbsp;&nbsp;</span>Calculating the length of the name</a></span></li><li><span><a href="#Converting-to-float-some-columns-with-applymap()" data-toc-modified-id="Converting-to-float-some-columns-with-applymap()-2.0.4.3"><span class="toc-item-num">2.0.4.3&nbsp;&nbsp;</span>Converting to float some columns with applymap()</a></span></li><li><span><a href="#Modifying-cloumns-names-with-apply()" data-toc-modified-id="Modifying-cloumns-names-with-apply()-2.0.4.4"><span class="toc-item-num">2.0.4.4&nbsp;&nbsp;</span>Modifying cloumns names with apply()</a></span></li></ul></li><li><span><a href="#💡-Check-for-understanding" data-toc-modified-id="💡-Check-for-understanding-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>💡 Check for understanding</a></span></li><li><span><a href="#💡-Check-for-understanding" data-toc-modified-id="💡-Check-for-understanding-2.0.6"><span class="toc-item-num">2.0.6&nbsp;&nbsp;</span>💡 Check for understanding</a></span></li></ul></li></ul></li><li><span><a href="#Filtering-Data" data-toc-modified-id="Filtering-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Creating-a-condition" data-toc-modified-id="Creating-a-condition-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Creating a condition</a></span></li><li><span><a href="#Filtering-df" data-toc-modified-id="Filtering-df-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Filtering df</a></span></li><li><span><a href="#Using-multiple-conditions" data-toc-modified-id="Using-multiple-conditions-3.0.3"><span class="toc-item-num">3.0.3&nbsp;&nbsp;</span>Using multiple conditions</a></span></li></ul></li></ul></li><li><span><a href="#More-Data-Manipulation" data-toc-modified-id="More-Data-Manipulation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>More Data Manipulation</a></span><ul class="toc-item"><li><span><a href="#Setting-the-index" data-toc-modified-id="Setting-the-index-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Setting the index</a></span></li><li><span><a href="#Adding/removing-rows-and/or-columns" data-toc-modified-id="Adding/removing-rows-and/or-columns-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Adding/removing rows and/or columns</a></span></li><li><span><a href="#💡-Check-for-understanding" data-toc-modified-id="💡-Check-for-understanding-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>💡 Check for understanding</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

# Cleaning Data

## Null values

Null values (also known as missing values) are common in datasets and can hinder data analysis and modeling. It is essential to handle null values appropriately to ensure accurate and reliable results. Pandas provides various methods to clean and handle null values in datasets.

In Python, `None` is a special constant that represents the absence of a value. It is commonly used to indicate that a variable or function has no value or hasn't been assigned any value. For example, if a function does not explicitly return a value, it implicitly returns `None`.

On the other hand, `NaN` stands for "Not a Number" and is a special value used to represent missing or undefined numerical data. `NaN` is part of the floating-point representation and is commonly used in numeric data structures like Pandas DataFrames and Series to indicate missing or invalid numerical values.



### Cleaning Null Values

1. Checking for Null Values:
   - Use `isnull()` method to check for null values in a DataFrame or Series.
   - Use `notnull()` method to check for non-null values in a DataFrame or Series.

2. Dropping Null Values:
   - Use `dropna()` method to remove rows with null values from a DataFrame.
   - Use `dropna(axis=1)` to remove columns with null values.

3. Filling Null Values:
   - Use `fillna(value)` method to replace null values with a specific value.
   - Use `fillna(method='ffill')` to forward-fill null values with the previous non-null value.
   - Use `fillna(method='bfill')` to backward-fill null values with the next non-null value.

### Checking for Null Values

In [ ]:
import pandas as pd

# Load Titanic dataset from an online source
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/titanic_train.csv'

When working with large datasets, using `isna()` or `isnull()` along with `any()` and `sum()` in Pandas becomes essential for quick and efficient data quality assessment.

sum() calculates the sum of each row, considering True as 1 and False as 0.

If we add the parameter `axis=1` with the `sum()` function, we can calculate the sum of each row (along the columns) of the DataFrame `df`. This results in a Series that contains the count of null values in each row.

### Dropping Null Values

However, as we can see below in the DataFrame, the rows with NaN values have not been removed. To execute the change, it is necessary to use the `inplace=True` option: `df.dropna(inplace=True)` or assign it to a variable such as df = df.dropna().

In the `dropna()` method of Pandas DataFrame, the `subset`, `how`, and `thresh` parameters are used to control the behavior of dropping rows or columns containing NaN (null) values, when we don't want to drop them just because they have *one* null value:

- `subset`: It allows you to specify a subset of columns on which to apply the `dropna()` operation. Only the rows containing NaN values in the specified subset of columns will be dropped.

- `how`: It specifies the condition for dropping rows. It can take the values 'any', which means to drop rows containing any NaN values in the `subset`, or 'all', which means to drop rows containing all NaN values in the `subset`.

- `thresh`: It sets a minimum threshold for the number of non-null values that a row must have in the `subset` in order to be kept. Rows with fewer non-null values than the specified threshold will be dropped.

### Filling Null Values

`fillna()` is a Pandas method used to replace NaN (null) values in a DataFrame or Series with specified values.
- You can use `inplace=True` to modify the DataFrame directly.

Careful if we assign a different data type, since Pandas will change the data type of the whole column. For example:

To avoid this, we can select manually in which column to apply the `fillna()`

We can also use the mean(), median() etc. to fill the null values.

- Two common methods for filling NaN values are `ffill`, which forward fills using the last valid value, and `bfill`, which backward fills using the next valid value.

## Dealing with Duplicates

In data analysis, it's common to encounter duplicate values in datasets. Duplicates can distort our analysis and lead to incorrect conclusions. Fortunately, pandas provides efficient methods to handle duplicates.

### Identifying Duplicates

To identify duplicate rows in a DataFrame, we can use the `duplicated()` method, which returns a boolean Series indicating whether each row is a duplicate or not. We can then use the `sum()` method to count the total number of duplicates.

To check for duplicates in specific columns, we can use the `duplicated()` method with the `subset` parameter, or just access first to the column and then check with duplicated().

### Removing Duplicates

To remove duplicates from a DataFrame, we can use the `drop_duplicates()` method. By default, this method keeps the first occurrence of each duplicated row and removes the rest.

### Removing Duplicates Based on Specific Columns

Sometimes, we may want to remove duplicates based on specific columns. We can pass a subset of column names to the `drop_duplicates()` method to achieve this.

By default, `drop_duplicates()` keeps the first occurrence of each duplicated row. If we want to keep the last occurrence instead, we can set the `keep` parameter to `'last'`.

### Resetting the Index

When removing duplicates, the DataFrame index may have gaps due to removed rows. To reset the index after removing duplicates, we can use the `reset_index()` method with the `drop=True` parameter.

## Formatting Data

### Formatting Numeric Values


1. `round()` Method:
   - Rounds numeric values to a specified number of decimal places.

2. `format()` Method:
   - Formats numeric values as strings for better representation.

### Formatting Strings

Check the data structures lesson for more string operations and formatting. Here we'll just look at some of them.

1. **Using f-strings (formatted string literals):**
   - f-strings are introduced in Python 3.6 and provide a concise and readable way to format strings.
   - Place variables or expressions inside curly braces `{}` in the string, preceded by the `f` character.

2. **Using the `format()` method:**
   - The `format()` method can be applied to a string and accepts positional or keyword arguments to replace placeholders.
   - Placeholders are represented by curly braces `{}` and can be indexed or named.

3. **Using `%` formatting:**
   - `%` formatting is an older method, similar to C-style formatting, but less recommended due to its limitations and lack of flexibility.
   - Placeholders are represented by `%` followed by format specifiers, like `%s` for strings and `%d` for integers.

Let's look at some methods for formatting strings.

### Formatting Dates

We will study this in another Notebook.

## Cleaning Column Names

We can acccess the columns using `df.columns`

In order to modify them, we can assign new column names to `df.columns` by doing `df.columns = [list_of_new_column_names]` or we can use the `rename()` method to just modify a few of them.

# Using `apply()`, `map()`, and `applymap()`

- `apply()`
    - Apply a custom function to a Series.
    - Useful for element-wise transformations.
    - Example: `df['squared_numbers'] = df['numbers'].apply(lambda x: x ** 2)`

- `map()`
    - Transform Series elements based on a dictionary.
    - Replaces elements with corresponding dictionary values.
    - Example: `df['gender_mapped'] = df['gender'].map({'M': 'Male', 'F': 'Female'})`

- `applymap()`
    - Apply a custom function to every element in a DataFrame.
    - Useful for element-wise transformations on entire DataFrames.
    - Example: `df = df.applymap(lambda x: x.upper())`

### `Apply()`

In the example above, we can see that to create a new column in pandas, we can simply assign a new Series or list to a new column name within the DataFrame.

To edit the information in a whole column in pandas, you can simply assign a new list or array of values to the column you want to modify.

### `Map()`

### `applyMap()`

### More examples

#### Comparing Map and Apply

We have a column called "Embarked" containing three possible values: 'C', 'Q', and 'S'. We want to map these values to 0, 1 and 2. In this case, `apply()` with a lambda function would be complex due to the if-elif-else conditions, but `map()` can handle it more easily.

Why is it a float?

#### Calculating the length of the name

What if we wanted to create a new column with the length of the name?

#### Converting to float some columns with applymap()

Lets look just as an example, how to make float all the following columns: "PassengerId", "Survived", "Pclass"

#### Modifying cloumns names with apply()

# Filtering Data

One of the primary tasks in dataset analysis is filtering rows.

When filtering DataFrames in Pandas, you can use boolean indexing to select specific rows based on certain conditions. Here's a step-by-step explanation:

1. Identify the column(s) you want to use as a filter condition. For example, in `housing_df` the column named 'SalePrice'.

2. Create a condition using a comparison operator (e.g., `>`, `<`, `==`, etc.) and the column(s) you want to filter. For instance, to filter all rows where the 'SalePrice' is greater than 10000, you would use `condition = housing_df['SalePrice'] > 10000`.

3. Use the condition to filter the DataFrame. You can do this by passing the condition inside square brackets to the DataFrame. For example, `filtered_df = housing_df[condition]` will create a new DataFrame `filtered_df` containing only the rows where the 'SalePrice' is greater than 10000.

Keep in mind that the condition should evaluate to a boolean Series with the same length as the DataFrame, indicating which rows to include (True) or exclude (False).

You can also combine multiple conditions using logical operators like `&` for 'and' and `|` for 'or'. For instance, to filter rows where the 'SalePrice' is greater than 10000 and the 'FullBath' is more than 1, you can use `condition = (housing_df['SalePrice'] > 10000) & (housing_df['FullBath'] > 1)`.

Filtering allows you to extract specific subsets of data from your DataFrame, making it easier to analyze and work with the data that meets your criteria.

### Creating a condition

### Filtering df

### Using multiple conditions

# More Data Manipulation

## Setting the index

To set an index in pandas, you can use the `set_index()` method of the DataFrame. This method allows you to specify which column you want to use as the index for the DataFrame.

## Adding/removing rows and/or columns

To add or remove rows and/or columns from a pandas DataFrame, you can use the following methods:

1. Adding rows:
   - Use the `append()` method to add rows to the DataFrame.

2. Removing rows:
   - Use the `drop()` method with the row index or label to remove specific rows.

3. Adding columns:
   - Using `df[new_column]`, you simply assign a list, Series, or scalar value to the new column name
   - Assign a new column to the DataFrame using bracket notation or the `assign()` method.

4. Removing columns:
   - Use the `drop()` method with the column name and `axis=1` to remove specific columns.
   - Alternatively, you can use the `del` keyword to remove a column in-place.

# Summary

1. Null Values:
   - Null values (also known as missing values) can hinder data analysis and modeling.
   - Use `isnull()` or `isna()` to check for null values in a DataFrame or Series.
   - Use `any()` and `sum()` to efficiently assess data quality.
   - Use `dropna()` to remove rows or columns with null values from a DataFrame.
   - Parameters like subset, how, and thresh can control the behavior of dropping rows or columns.
   - Use `fillna()` to replace null values with specific values, such as `mean()`, `median()`, or forward/backward fill.

5. Formatting Data:
   - Use `round()` and `format()` to format numeric values.
   - Use f-strings, `format()` or % to format strings and use string methods like `lower()`, `upper()`, `title()`, `strip()`, `split()`, and `replace()`.

6. Cleaning Column Names:
   - Use df.columns to access column names.
   - Modify column names using df.columns or `rename()`.

7. Using `apply()`, `map()`, and `applymap()`:
   - `apply()`: Applies a custom function to a Series.
   - `map()`: Transforms Series elements based on a dictionary.
   - `applymap()`: Applies a custom function to every element in a DataFrame.

8. Filtering Data:
   - Filter rows in a DataFrame using boolean indexing.
   - Use comparison operators (<, >, ==) to create conditions.
   - Combine multiple conditions using logical operators (& for 'and', | for 'or').

9. Setting the Index:
   - Use `set_index()` to set an index for the DataFrame.

10. Adding/Removing Rows and Columns:
   - Use `append()` to add rows to the DataFrame.
   - Use `drop()` with the row index/label to remove specific rows.
   - Use bracket notation, `assign()`, or `drop()` with axis=1 to add/remove columns.