In [1]:
import requests as req

from bs4 import BeautifulSoup as bs

In [2]:
url ='https://www.imdb.com/list/ls025598828/'

In [3]:
#req.get(url)

In [4]:
html = req.get(url).text

sopa = bs(html, 'html.parser')

In [6]:
tarjetas = sopa.find_all('div', class_='lister-item mode-detail') # cada una de las pelis

In [16]:
indice = tarjetas[0].find('span').text

indice

'1.'

In [13]:
nombre = tarjetas[0].find_all('a')[1].text

nombre

'Breaking Bad'

In [22]:
fecha = tarjetas[0].find_all('span')[1].text

fecha[1:-1].split('–')

['2008', '2013']

In [25]:
rate = tarjetas[0].find('span', {'class': 'ipl-rating-star__rating'}).text

rate

'9.5'

In [29]:
duracion = tarjetas[0].find('p').find('span', class_="runtime").text

duracion

'3,030 min'

In [34]:
genero = tarjetas[0].find('p').find('span', class_="genre").text.strip()

genero

'Crime, Drama, Thriller'

In [42]:
stars = tarjetas[0].find_all('p', {'class': 'text-muted text-small'})[1].text.replace('\n', '').strip()[6:]

stars

'Bryan Cranston, Aaron Paul, Anna Gunn, Betsy Brandt'

In [67]:
votos = int(tarjetas[0].find('span', {'name': 'nv'}).text.replace(',', ''))

votos

2095036

In [73]:
sinopsis = tarjetas[0].find_all('p')[1].text.strip()

sinopsis

"A chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine with a former student in order to secure his family's future."

In [109]:
# todo

data = []


fallan = []


for i in range(len(tarjetas)):
    
    
    try:
        
        duracion = tarjetas[i].find('p').find('span', class_="runtime").text if tarjetas[i].find('p').find('span', class_="runtime") else 'No hay'
        
        
        gentuki = tarjetas[i].find_all('p', {'class': 'text-muted text-small'})[1].text.replace('\n', '').strip().split('|')
        
        dictio = {'indice': tarjetas[i].find('span').text,
                  'nombre': tarjetas[i].find_all('a')[1].text,
                  'fecha': tarjetas[i].find_all('span')[1].text,
                  'rate': tarjetas[i].find('span', {'class': 'ipl-rating-star__rating'}).text,
                  'duracion': duracion,
                  'genero': tarjetas[i].find('p').find('span', class_="genre").text.strip(),
                  
                  'stars': gentuki[1].split(':')[1] if len(gentuki)==2 else gentuki[0].split(':')[1],
                  'director': gentuki[0].split(':')[1] if len(gentuki)==2 else 'No hay',
                  
                  'votos': int(tarjetas[i].find('span', {'name': 'nv'}).text.replace(',', '')),
                  'sinopsis': tarjetas[i].find_all('p')[1].text.strip()

                 }


        data.append(dictio)
        
    
    except:
        
        fallan.append(i)

In [110]:
fallan

[]

In [111]:
import pandas as pd

In [112]:
df = pd.DataFrame(data)

In [113]:
df

,indice,nombre,fecha,rate,duracion,genero,stars,director,votos,sinopsis
0,1.,Breaking Bad,(2008–2013),9.5,"3,030 min","Crime, Drama, Thriller","Bryan Cranston, Aaron Paul, Anna Gunn, Betsy B...",No hay,2095036,A chemistry teacher diagnosed with inoperable ...
1,2.,Minecraft,(2009 Video Game),8.6,No hay,"Action, Adventure, Family","Pierre Coffin, Katie Crown, CW21, Luke Harrison",Agnes Larsson,13618,Welcome to the world of Minecraft where you ca...
2,3.,Crank: Alto voltaje,(2009),6.1,96 min,"Action, Crime, Thriller","Jason Statham, Amy Smart, Clifton Collins Jr.,...","Mark Neveldine, Brian Taylor",157655,Chelios faces a Chinese mobster who has stolen...
3,4.,Django desencadenado,(2012),8.5,165 min,"Drama, Western","Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",Quentin Tarantino,1669298,"With the help of a German bounty-hunter, a fre..."
4,5.,Crank: Veneno en la sangre,(2006),6.9,88 min,"Action, Crime, Thriller","Jason Statham, Amy Smart, Carlos Sanz, Jose Pa...","Mark Neveldine, Brian Taylor",261535,Professional assassin Chev Chelios learns his ...
...,...,...,...,...,...,...,...,...,...,...
95,96.,Viernes 13,(1980),6.4,95 min,"Horror, Mystery, Thriller","Betsy Palmer, Adrienne King, Jeannine Taylor, ...",Sean S. Cunningham,155763,A group of camp counselors trying to reopen a ...
96,97.,Heat,(1995),8.3,170 min,"Action, Crime, Drama","Al Pacino, Robert De Niro, Val Kilmer, Jon Voight",Michael Mann,709355,A group of high-end professional thieves start...
97,98.,La niebla de Stephen King,(2007),7.1,126 min,"Horror, Sci-Fi, Thriller","Thomas Jane, Marcia Gay Harden, Laurie Holden,...",Frank Darabont,335575,A freak storm unleashes a species of bloodthir...
98,99.,V de vendetta,(2005),8.2,132 min,"Action, Drama, Sci-Fi","Hugo Weaving, Natalie Portman, Rupert Graves, ...",James McTeigue,1169590,"In a future British dystopian society, a shado..."
99,100.,El profesional (Léon),(1994),8.5,110 min,"Action, Crime, Drama","Jean Reno, Gary Oldman, Natalie Portman, Danny...",Luc Besson,1230551,12-year-old Mathilda is reluctantly taken in b...

In [141]:
url = 'https://www.netflix.com/tudum/top10/es'

In [142]:
html = req.get(url).text

sopa = bs(html, 'html.parser')

In [143]:
tabla = sopa.find('div', class_="py-2 md:py-4").find('table')

In [144]:
cabeceras = [e.text for e in tabla.find('thead').find_all('th')]

cabeceras

['N.Âº',
 'PelÃ\xadculas (de habla inglesa)',
 'Semanas en el Top 10Semanas',
 'horas vistas',
 'DuraciÃ³n',
 'Visualizaciones']

In [145]:
cuerpo = tabla.find('tbody')

In [146]:
filas = cuerpo.find_all('tr')

In [147]:
len(filas)

10

In [148]:
[e.text for e in filas[0].find_all('td')]  # primera fila

['1',
 'Lift: Un robo de primera clase',
 '2',
 '65.400.000',
 '1:47',
 '36.700.000']

In [150]:
data = []

for f in filas:
    
    casillas = f.find_all('td')
    
    tmp_lst = []
    
    for c in casillas:
        
        tmp_lst.append(c.text)
        
        
    data.append(tmp_lst)
        
data

[['1',
  'Lift: Un robo de primera clase',
  '2',
  '65.400.000',
  '1:47',
  '36.700.000'],
 ['2', 'La leyenda de TarzÃ¡n', '1', '14.400.000', '1:50', '7.900.000'],
 ['3', 'The Kitchen', '1', '10.200.000', '1:49', '5.600.000'],
 ['4', 'CuestiÃ³n de Sangre', '1', '12.700.000', '2:19', '5.500.000'],
 ['5',
  'El justiciero: CapÃ\xadtulo final',
  '3',
  '8.300.000',
  '1:49',
  '4.600.000'],
 ['6', 'La Purga por siempre', '1', '7.700.000', '1:43', '4.500.000'],
 ['7', 'Estafadoras en oferta', '1', '8.100.000', '1:50', '4.400.000'],
 ['8',
  'Super Mario Bros.: La pelÃ\xadcula',
  '8',
  '6.500.000',
  '1:32',
  '4.200.000'],
 ['9', 'Alma salvaje', '1', '7.300.000', '1:56', '3.800.000'],
 ['10', 'Leo', '9', '5.800.000', '1:47', '3.300.000']]

In [151]:
data = [[e.text for e in f.find_all('td')] for f in filas]

data

[['1',
  'Lift: Un robo de primera clase',
  '2',
  '65.400.000',
  '1:47',
  '36.700.000'],
 ['2', 'La leyenda de TarzÃ¡n', '1', '14.400.000', '1:50', '7.900.000'],
 ['3', 'The Kitchen', '1', '10.200.000', '1:49', '5.600.000'],
 ['4', 'CuestiÃ³n de Sangre', '1', '12.700.000', '2:19', '5.500.000'],
 ['5',
  'El justiciero: CapÃ\xadtulo final',
  '3',
  '8.300.000',
  '1:49',
  '4.600.000'],
 ['6', 'La Purga por siempre', '1', '7.700.000', '1:43', '4.500.000'],
 ['7', 'Estafadoras en oferta', '1', '8.100.000', '1:50', '4.400.000'],
 ['8',
  'Super Mario Bros.: La pelÃ\xadcula',
  '8',
  '6.500.000',
  '1:32',
  '4.200.000'],
 ['9', 'Alma salvaje', '1', '7.300.000', '1:56', '3.800.000'],
 ['10', 'Leo', '9', '5.800.000', '1:47', '3.300.000']]

In [137]:
df = pd.DataFrame(data, columns=cabeceras)

In [138]:
df

,N.Âº,PelÃ­culas (de habla inglesa),Semanas en el Top 10Semanas,horas vistas,DuraciÃ³n,Visualizaciones
0,1,Lift: Un robo de primera clase,2,65.400.000,1:47,36.700.000
1,2,La leyenda de TarzÃ¡n,1,14.400.000,1:50,7.900.000
2,3,The Kitchen,1,10.200.000,1:49,5.600.000
3,4,CuestiÃ³n de Sangre,1,12.700.000,2:19,5.500.000
4,5,El justiciero: CapÃ­tulo final,3,8.300.000,1:49,4.600.000
5,6,La Purga por siempre,1,7.700.000,1:43,4.500.000
6,7,Estafadoras en oferta,1,8.100.000,1:50,4.400.000
7,8,Super Mario Bros.: La pelÃ­cula,8,6.500.000,1:32,4.200.000
8,9,Alma salvaje,1,7.300.000,1:56,3.800.000
9,10,Leo,9,5.800.000,1:47,3.300.000

In [139]:
urls = ['https://www.netflix.com/tudum/top10/es?week=2024-01-14', 
       'https://www.netflix.com/tudum/top10/es?week=2024-01-07',
       'https://www.netflix.com/tudum/top10/es?week=2023-12-31']

In [156]:
# todo

df_lst = []


for url in urls:
    
    html = req.get(url).text
    sopa = bs(html, 'html.parser')
    
    tabla = sopa.find('div', class_="py-2 md:py-4").find('table')
    
    cabeceras = [e.text for e in tabla.find('thead').find_all('th')]
    
    filas = tabla.find('tbody').find_all('tr')
    
    data = [[e.text for e in f.find_all('td')] for f in filas]
    
    df = pd.DataFrame(data, columns=cabeceras)
    
    date =  url.split('=')[-1].split('-')
    
    df['year'] = date[0]
    df['month'] = date[1]
    df['day'] = date[2]
    
    df_lst.append(df)
    
    
    
data_final = pd.concat(df_lst)

In [157]:
data_final.head()

,N.Âº,PelÃ­culas (de habla inglesa),Semanas en el Top 10Semanas,horas vistas,DuraciÃ³n,Visualizaciones,year,month,day
0,1,Lift: Un robo de primera clase,2,65.400.000,1:47,36.700.000,2024,01,14
1,2,La leyenda de TarzÃ¡n,1,14.400.000,1:50,7.900.000,2024,01,14
2,3,The Kitchen,1,10.200.000,1:49,5.600.000,2024,01,14
3,4,CuestiÃ³n de Sangre,1,12.700.000,2:19,5.500.000,2024,01,14
4,5,El justiciero: CapÃ­tulo final,3,8.300.000,1:49,4.600.000,2024,01,14

In [158]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 9
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   N.Âº                           30 non-null     object
 1   PelÃ­culas (de habla inglesa)  30 non-null     object
 2   Semanas en el Top 10Semanas    30 non-null     object
 3   horas vistas                   30 non-null     object
 4   DuraciÃ³n                      30 non-null     object
 5   Visualizaciones                30 non-null     object
 6   year                           30 non-null     object
 7   month                          30 non-null     object
 8   day                            30 non-null     object
dtypes: object(9)
memory usage: 2.3+ KB