# 4.8 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [ ]:
%pip install pymongo

In [1]:
from pymongo import MongoClient

In [2]:
cursor=MongoClient()   # no esta escrita la string de conexion

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
str_conn='mongodb://localhost:27017'  # str_conn por defecto

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
cursor.list_database_names()

['admin',
 'campus_tools_data',
 'comp',
 'companies',
 'config',
 'ironcomes',
 'local',
 'quizzes']

In [6]:
db = cursor.nueva_db   # crea base de datos vacia

In [7]:
cursor.list_database_names()

['admin',
 'campus_tools_data',
 'comp',
 'companies',
 'config',
 'ironcomes',
 'local',
 'quizzes']

In [8]:
colec = db.n_colec

In [9]:
db.list_collection_names()

[]

In [10]:
dictio = {'nombre': 'Manolo', 'oficio': 'vendedor', 'edad': 56, '4': [1,2,3,4]}

In [11]:
dictio

{'nombre': 'Manolo', 'oficio': 'vendedor', 'edad': 56, '4': [1, 2, 3, 4]}

In [12]:
colec.insert_one(dictio)

In [13]:
cursor.list_database_names()

['admin',
 'campus_tools_data',
 'comp',
 'companies',
 'config',
 'ironcomes',
 'local',
 'nueva_db',
 'quizzes']

In [14]:
db.list_collection_names()

['n_colec']

In [15]:
dictio = {'_id': 1, 'hola': 'carahuevo', 'altura': 0.39,'que te pasa':0}

dictio

{'_id': 1, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0}

In [16]:
colec.insert_one(dictio)

In [17]:
# insertar varios

# Equivalente SQL

# insert into colec (columnas) values (valores);

json=[{'nombre': 'yo', 'edad': 38},
      {'_id': 3, 'actividad': 'natacion', 'lugar': 'aqui'}]



colec.insert_many(json)

In [18]:
# select * from colec;

colec.find()

In [19]:
list(colec.find())

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]},
 {'_id': 1, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('65c5f5d195fce0a63069e916'), 'nombre': 'yo', 'edad': 38},
 {'_id': 3, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [20]:
res = list(colec.find())

In [21]:
import pandas as pd

In [22]:
pd.DataFrame(res)

,_id,nombre,oficio,edad,4,hola,altura,que te pasa,actividad,lugar
0,65c5f48495fce0a63069e915,Manolo,vendedor,56.0,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,carahuevo,0.39,0.0,NaN,NaN
2,65c5f5d195fce0a63069e916,yo,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,natacion,aqui

In [23]:
data = pd.read_csv('data/apple_store.csv')

data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [31]:
import json

_json = json.loads(data.tail().to_json(orient='records'))

In [32]:
colec.insert_many(_json)

In [33]:
res = list(colec.find())

pd.DataFrame(res)

,_id,nombre,oficio,edad,4,hola,altura,que te pasa,actividad,lugar,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,65c5f48495fce0a63069e915,Manolo,vendedor,56.0,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,carahuevo,0.39,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,65c5f5d195fce0a63069e916,yo,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,natacion,aqui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,65c5f82c95fce0a63069e917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.187617e+09,Kubik,126644224.0,0.00,142.0,75.0,4.5,4.5,Games
5,65c5f82c95fce0a63069e918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.187682e+09,VR Roller-Coaster,120760320.0,0.00,30.0,30.0,4.5,4.5,Games
6,65c5f82c95fce0a63069e919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.187780e+09,Bret Michaels Emojis + Lyric Keyboard,111322112.0,1.99,15.0,0.0,4.5,0.0,Utilities
7,65c5f82c95fce0a63069e91a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.187839e+09,VR Roller Coaster World - Virtual Reality,97235968.0,0.00,85.0,32.0,4.5,4.5,Games
8,65c5f82c95fce0a63069e91b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.188376e+09,Escape the Sweet Shop Series,90898432.0,0.00,3.0,3.0,5.0,5.0,Games

# Queries

In [35]:
# select * from colec;

list(colec.find())[:5]

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]},
 {'_id': 1, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('65c5f5d195fce0a63069e916'), 'nombre': 'yo', 'edad': 38},
 {'_id': 3, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('65c5f82c95fce0a63069e917'),
  'id': 1187617475,
  'track_name': 'Kubik',
  'size_bytes': 126644224,
  'price': 0.0,
  'rating_count_tot': 142,
  'rating_count_ver': 75,
  'user_rating': 4.5,
  'user_rating_ver': 4.5,
  'prime_genre': 'Games'}]

In [37]:
# select * from colec where edad=56;

query={'edad': 56}

list(colec.find(query))

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]}]

In [38]:
# select * from colec where edad>=39;

query={'edad': {'$gte': 39}}

list(colec.find(query))

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]}]

In [39]:
# select * from colec where edad>39;

query={'edad': {'$gt': 39}}

list(colec.find(query))

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]}]

In [40]:
# select * from colec where edad<39;

query={'edad': {'$lt': 39}}

list(colec.find(query))

[{'_id': ObjectId('65c5f5d195fce0a63069e916'), 'nombre': 'yo', 'edad': 38}]

In [41]:
# select * from colec where edad<=39;

query={'edad': {'$lte': 39}}

list(colec.find(query))

[{'_id': ObjectId('65c5f5d195fce0a63069e916'), 'nombre': 'yo', 'edad': 38}]

In [43]:
# select * from colec where edad<57 and edad>24;
# select * from colec where edad between (57, 24);


query={'$and': [{'edad': {'$lt': 57}},
                {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('65c5f5d195fce0a63069e916'), 'nombre': 'yo', 'edad': 38}]

In [48]:
res = list(colec.find(query))

type(res)

list

In [46]:
res[0]['oficio']

'vendedor'

In [47]:
# select * from colec where edad<40 or edad>24;

query={'$or': [{'edad': {'$lt': 40}},
                {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('65c5f5d195fce0a63069e916'), 'nombre': 'yo', 'edad': 38}]

In [49]:
# select * from colec where edad!=38 limit 2;

query={'edad': {'$ne': 38}}

list(colec.find(query).limit(2))

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]},
 {'_id': 1, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0}]

In [50]:
# select * from colec where edad!=38 order by edad desc limit 3;

query={'edad': {'$ne': 38}}

res=colec.find(query).sort('edad', -1).limit(3)

list(res)   # sort 1 asc, sort -1 desc

[{'_id': ObjectId('65c5f48495fce0a63069e915'),
  'nombre': 'Manolo',
  'oficio': 'vendedor',
  'edad': 56,
  '4': [1, 2, 3, 4]},
 {'_id': 3, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': 1, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0}]

In [51]:
# select count(*) from colec group by _id;     #por cada id suma 1

list(colec.aggregate([{'$group': {'_id': '', 
                                  'count': {'$sum': 
                                            1}}}]))

[{'_id': '', 'count': 9}]

In [52]:
db=cursor.companies

In [57]:
colec=db.coleccion

In [63]:
res=colec.find().limit(1)

list(res)[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [64]:
colec.find()

In [62]:
# select name, category_code from colec where category_code in ('web', 'ecommerce') limit 10;


# por "filas", dame los registros con estos category_code
query={'$or': [{'category_code': 'web'},
               {'category_code': 'ecommerce'}]}



# por columnas, dame solo las dos columnas
select={'name': True, 'category_code': True, '_id': False}


res = colec.find(query, select).limit(10)

list(res)

[{'name': 'Wetpaint', 'category_code': 'web'},
 {'name': 'Postini', 'category_code': 'web'},
 {'name': 'Geni', 'category_code': 'web'},
 {'name': 'Fox Interactive Media', 'category_code': 'web'},
 {'name': 'StumbleUpon', 'category_code': 'web'},
 {'name': 'Gizmoz', 'category_code': 'web'},
 {'name': 'eBay', 'category_code': 'web'},
 {'name': 'Viacom', 'category_code': 'web'},
 {'name': 'Plaxo', 'category_code': 'web'},
 {'name': 'Yahoo!', 'category_code': 'web'}]

In [65]:
# select founded_year, name 
# from colec where category_code=web and founded_year<=2002 limit 10;

# por "filas", dame los registros category_code
query={'$and': [{'category_code': 'web'},
                {'founded_year': {'$lte': 2002}}]}


# por columnas, dame solo las dos columnas
select={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, select).limit(10))

[{'name': 'Postini', 'category_code': 'web', 'founded_year': 1999},
 {'name': 'Fox Interactive Media',
  'category_code': 'web',
  'founded_year': 1979},
 {'name': 'StumbleUpon', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'eBay', 'category_code': 'web', 'founded_year': 1995},
 {'name': 'Viacom', 'category_code': 'web', 'founded_year': 1971},
 {'name': 'Plaxo', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Yahoo!', 'category_code': 'web', 'founded_year': 1994},
 {'name': 'Meetup', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Topix', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Steorn', 'category_code': 'web', 'founded_year': 2000}]