# 1.3 - Clasificacion multi-etiqueta

![mlr](images/mlr.png)


![telecom](images/telecom.jpeg)

In [13]:
import pandas as pd                                # panel data, for handling dataframes
pd.set_option('display.max_columns', None)         # show all columns of the dataframe

import numpy as np                                 # numerical python, linear algebra library

import pylab as plt                                # plotting library
import seaborn as sns                              # plotting library
sns.set(style='white')                             # seaborn style


from sklearn.linear_model import LogisticRegression as LogReg            # logistic regression model   
from sklearn.ensemble import RandomForestClassifier as RFC


from sklearn.preprocessing import StandardScaler               # standarized
from sklearn.preprocessing import LabelEncoder               

from sklearn.model_selection import train_test_split as tts    # split data into train and test sets

### Datos

In [2]:
df = pd.read_csv('data/iris.csv')

In [3]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df.variety.unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [6]:
d = {'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}

In [7]:
df.variety = df.variety.apply(lambda x: d[x])

df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [8]:
df.shape

(150, 5)

### Modelado

In [19]:
X = df.drop('variety', axis=1)

y = df.variety

In [36]:
X_train, X_test, y_train, y_test=tts(X, y, random_state=42, train_size=0.8, test_size=0.2)

In [37]:
X_train, X_val, y_train, y_val = tts(X_train, y_train)

In [40]:
#help(tts)

In [38]:
X_train.shape, X_val.shape, X_test.shape, y_train.shape, y_val.shape, y_test.shape

((90, 4), (30, 4), (30, 4), (90,), (30,), (30,))

In [28]:
X_train.shape

(30, 4)

In [29]:
logreg = LogReg(max_iter=2000)

logreg.fit(X_train, y_train)

y_pred_log = logreg.predict(X_test)

In [30]:
rfc = RFC()

rfc.fit(X_train, y_train)

y_pred_rfc = rfc.predict(X_test)

In [31]:
sum(y_pred_log==y_test) / y_pred_log.shape[0] * 100

96.66666666666667

In [32]:
sum(y_pred_rfc==y_test) / y_pred_rfc.shape[0] * 100

93.33333333333333

In [35]:
y_pred_log

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0, 1, 2, 2, 1, 2, 1, 2, 1, 0, 2, 1, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0,
       1, 2, 0, 1, 2, 0, 2, 2, 1, 1, 2, 1, 0, 1, 2, 0, 0, 1, 2, 0, 2, 0,
       0, 2, 1, 2, 2, 2, 2, 1, 0, 0, 1, 2, 0, 0, 0, 1, 2, 0, 2, 2, 0, 1,
       1, 2, 1, 2, 0, 2, 1, 2, 1, 1])